<div class="graph">
  <div class="grid-item">1a</div>
  <div class="grid-item">2a</div>
  <div class="grid-item">3a</div>
  <div class="grid-item">4a</div>
  <div class="grid-item"><img src="assets/images/webLark.svg"></div>
  <div class="grid-item">6a</div>
  <div class="grid-item">7a</div>
  <div class="grid-item">8a</div>
  <div class="grid-item">9a</div>
  <div class="grid-item">10a</div>
  <div class="grid-item">11a</div>
  <div class="grid-item">12a</div>
  <div class="grid-item">13a</div>
  <div class="grid-item">14a</div>
  <div class="grid-item">15a</div>
  <div class="grid-item">16a</div>
  <div class="grid-item">17a</div>
  <div class="grid-item">18a</div>
  <div class="grid-item">19a</div>
  <div class="grid-item">20a</div>
  <div class="grid-item">21a</div>
  <div class="grid-item">22a</div>
  <div class="grid-item">23a</div>
  <div class="grid-item">24a</div>
  <div class="grid-item">25a</div>
  <div class="grid-item">26a</div>
  <div class="grid-item">27a</div>
  <div class="grid-item">28a</div>
  <div class="grid-item">1b</div>
  <div class="grid-item">2b</div>
  <div class="grid-item">3b</div>
  <div class="grid-item">4b</div>
  <div class="grid-item">5b</div>
  <div class="grid-item">6b</div>
  <div class="grid-item">7b</div>
  <div class="grid-item">8b</div>
  <div class="grid-item">9b</div>
  <div class="grid-item">10b</div>
  <div class="grid-item">11b</div>
  <div class="grid-item">12b</div>
  <div class="grid-item">13b</div>
  <div class="grid-item">14b</div>
  <div class="grid-item">15b</div>
  <div class="grid-item">16b</div>
  <div class="grid-item">17b</div>
  <div class="grid-item">18b</div>
  <div class="grid-item">19b</div>
  <div class="grid-item">20b</div>
  <div class="grid-item">21b</div>
  <div class="grid-item">22b</div>
  <div class="grid-item">23b</div>
  <div class="grid-item">24b</div>
  <div class="grid-item">25b</div>
  <div class="grid-item">26b</div>
  <div class="grid-item">27b</div>
  <div class="grid-item">28b</div>
  <div class="grid-item">1c</div>
  <div class="grid-item">2c</div>
  <div class="grid-item">3c</div>
  <div class="grid-item">4c</div>
  <div class="grid-item">5c</div>
  <div class="grid-item">6c</div>
  <div class="grid-item">7c</div>
  <div class="grid-item">8c</div>
  <div class="grid-item">9c</div>
  <div class="grid-item">10c</div>
  <div class="grid-item">11c</div>
  <div class="grid-item">12c</div>
  <div class="grid-item">13c</div>
  <div class="grid-item">14c</div>
  <div class="grid-item">15c</div>
  <div class="grid-item">16c</div>
  <div class="grid-item">17c</div>
  <div class="grid-item">18c</div>
  <div class="grid-item">19c</div>
  <div class="grid-item">20c</div>
  <div class="grid-item">21c</div>
  <div class="grid-item">22c</div>
  <div class="grid-item">23c</div>
  <div class="grid-item">24c</div>
  <div class="grid-item">25c</div>
  <div class="grid-item">26c</div>
  <div class="grid-item">27c</div>
  <div class="grid-item">28c</div>
  <div class="grid-item">1d</div>
  <div class="grid-item">2d</div>
  <div class="grid-item">3d</div>
  <div class="grid-item">4d</div>
  <div class="grid-item">5d</div>
  <div class="grid-item">6d</div>
  <div class="grid-item">7d</div>
  <div class="grid-item">8d</div>
  <div class="grid-item">9d</div>
  <div class="grid-item">10d</div>
  <div class="grid-item">11d</div>
  <div class="grid-item">12d</div>
  <div class="grid-item">13d</div>
  <div class="grid-item">14d</div>
  <div class="grid-item">15d</div>
  <div class="grid-item">16d</div>
  <div class="grid-item">17d</div>
  <div class="grid-item">18d</div>
  <div class="grid-item">19d</div>
  <div class="grid-item">20d</div>
  <div class="grid-item">21d</div>
  <div class="grid-item">22d</div>
  <div class="grid-item">23d</div>
  <div class="grid-item">24d</div>
  <div class="grid-item">25d</div>
  <div class="grid-item">26d</div>
  <div class="grid-item">27d</div>
  <div class="grid-item">28d</div>
</div>
