@keyframes petronellaRavenOne {
  0% {
    left: 120px;
    top: 80px;
  }
  50% {
    left: 80px;
    top: 120px;
  }
  100% {
    left: 0px;
    top: 80px;
  }
}

@keyframes petronellaLarkOne {
  0% {
    left: 120px;
    top: 200px;
  }
  50% {
    left: 80px;
    top: 160px;
  }
  100% {
    left: 120px;
    top: 80px;
  }
}

@keyframes petronellaLarkTwo {
  0% {
    left: 0px;
    top: 80px;
  }
  50% {
    left: 60px;
    top: 120px;
  }
  100% {
    left: 0px;
    top: 200px;
  }
}

@keyframes petronellaRavenTwo {
  0% {
    left: 0px;
    top: 200px;
  }
  50% {
    left: 40px;
    top: 160px;
  }
  100% {
    left: 120px;
    top: 200px;
  }
}

.dance-set {
  margin-top: 0px;
  // display:block;
  position:static;
  span.move {
    // --squarePosition1: 0px;
    // --squarePosition2: 80px;
    // --squarePosition3: 120px;
    // --squarePosition4: 200px;

    width: 160px;
    height: 320px;
    position: fixed; //or fixed or absolute
    // background-color: red;
    // &:hover {
      // .raven-one {
      //   transform: translate(-40px, 40px);
      // }
      // .raven-two {
      //   transform: translate(40px, -40px);
      // }
      //
      // .lark-two {
      //   transform: translate(40px, 40px);
      // }
      // .lark-one {
      //   transform: translate(-40px, -40px);
      // }
    // }


    svg {
      width: 40px;
      height: 40px;
      position: absolute;
    }
  }
}

//
// .block-test {
//   margin-top: 300px;
// }


// .raven-one {
//   left: var(--squarePosition3);
//   top: var(--squarePosition2);
// }

// .lark-one {
//   left: var(--squarePosition3);
//   top: var(--squarePosition4);
// }

// .lark-two {
//   left: var(--squarePosition1);
//   top: var(--squarePosition2);
// }
//
// .raven-two {
//   left: var(--squarePosition1);
//   top: var(--squarePosition4)
// }




// .dance-set {
//   /* display: inline-grid; // h4's in set could just line up with Flexbox in the same row
//   grid-template-columns: repeat(50, 40px);
//   grid-template-rows: 1 320px; */
// }

//
// #{$raven-one-selector} svg circle {
//   fill:black;
// }


// #dancer-use {
//   fill: #1f1f1f;
// }

// .position {
//   display: none;
//   // display: grid;
//   // grid-template-columns: repeat(4, 40px);
//   // grid-template-rows: repeat(8, 40px);
// }
