$raven-one-selector: '.A1';

:root {
  --lark-one-color: #583820;
  --lark-two-color: #d1864c;
  --raven-one-color: #1f1f1f;
  --raven-two-color: #9f9f9f;
}

.position {
  display: none;
}



.move {
  --squarePosition1: 0px;
  --squarePosition2: 80px;
  --squarePosition3: 120px;
  --squarePosition4: 200px;

  svg {
    width: 40px;
    height: 40px;
    position: absolute;

  }
}

span.move {
  width: 160px;
  height: 320px;
  background-color: red;
  position: fixed; //or absolute
}

// .move svg {
//   position: absolute;
// }

.raven-one {
  left: var(--squarePosition3);
  top: var(--squarePosition2);
}

// .lark-one {
//   left: var(--squarePosition3);
//   top: var(--squarePosition4);
// }

.lark-two {
  left: var(--squarePosition1);
  top: var(--squarePosition2);
}

.raven-two {
  left: var(--squarePosition1);
  top: var(--squarePosition4)
}




// .dance-set {
//   /* display: inline-grid; // h4's in set could just line up with Flexbox in the same row
//   grid-template-columns: repeat(50, 40px);
//   grid-template-rows: 1 320px; */
// }

//
// #{$raven-one-selector} svg circle {
//   fill:black;
// }


// #dancer-use {
//   fill: #1f1f1f;
// }

// .position {
//   display: none;
//   // display: grid;
//   // grid-template-columns: repeat(4, 40px);
//   // grid-template-rows: repeat(8, 40px);
// }
