:root {
  --lark-one-color: #583820;
  --lark-two-color: #d1864c;
  --raven-one-color: #1f1f1f;
  --raven-two-color: #9f9f9f;
}

.dance-set {
  /* display: inline-grid; // h4's in set could just line up with Flexbox in the same row
  grid-template-columns: repeat(50, 40px);
  grid-template-rows: 1 320px; */
}

.position {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-template-rows: repeat(8, 40px);
}

.move {
  display: none;
}

.hide-me {
  display:none;
}
