<div class="dance-set">
  <div class="first hands4">
    <span class="move">..</span>
    <span class="position">
      <div class="position-item A1">A1</div>
      <div class="position-item B1">B1</div>
      <div class="position-item C1">C1</div>
      <div class="position-item D1">D1</div>
      <div class="position-item A2">A2</div>
      <div class="position-item B2">B2</div>
      <div class="position-item C2">C2</div>
      <div class="position-item D2">D2</div>
      <div class="position-item mainh4 A3"><img src="assets/images/circle.svg"></div>
      <div class="position-item mainh4 B3">B3</div>
      <div class="position-item mainh4 C3">C3</div>
      <div class="position-item mainh4 D3">D3</div>
      <div class="position-item mainh4 A4">A4</div>
      <div class="position-item mainh4 B4">B4</div>
      <div class="position-item mainh4 C4">C4</div>
      <div class="position-item mainh4 D4">D4</div>
      <div class="position-item mainh4 A5">A5</div>
      <div class="position-item mainh4 B5">B5</div>
      <div class="position-item mainh4 C5">C5</div>
      <div class="position-item mainh4 D5">D5</div>
      <div class="position-item mainh4 A6">A6</div>
      <div class="position-item mainh4 B6">B6</div>
      <div class="position-item mainh4 C6">C6</div>
      <div class="position-item mainh4 D6">D6</div>
      <div class="position-item A7">A7</div>
      <div class="position-item B7">B7</div>
      <div class="position-item C7">C7</div>
      <div class="position-item D7">D7</div>
      <div class="position-item A8">A8</div>
      <div class="position-item B8">B8</div>
      <div class="position-item C8">C8</div>
      <div class="position-item D8">D8</div>
    </span>
  </div>
</div>
