<!-- <app-animation [currentDance]="danceData" [steps]="visualizeSteps"></app-animation> -->
<app-animation [danceMoves]="chosenDanceMoves"></app-animation>
<p *ngIf="danceData"> Current Dance: {{danceData.name}}</p>
<app-steps [danceId]="danceIdFromChooseDance" (nextEvent)="eventFromSteps($event)" [steps]="steps"></app-steps>
<app-choose-dance (internaDanceIdFromChooseDance)="handleDance($event)"></app-choose-dance>
<div *ngIf="currentChosenDanceFromChild">
  <div *ngIf="currentStep">
    <span *ngIf="currentStep.hasOwnProperty('description')">{{currentStep.description | titleCase}}</span>
    <span *ngIf="currentStep.hasOwnProperty('name')">{{currentStep.name | titleCase}}</span>
  </div>
</div>
