<!-- 1. Update draftArray with upon click of formation button
2. Display list of draftArray items here as soon as they are added (2 way data binding)
3. add validation. position->move->position->move, etc. Must start with position, end with same position-->
<h2>Dance Draft</h2>

<ul >
  <li *ngFor="let step of dancePieces">
    <span *ngIf="step.hasOwnProperty('description')">{{step.description | titleCase}}</span>
    <span *ngIf="step.hasOwnProperty('name')">{{step.name | titleCase}}</span>
  </li>
</ul>

<!-- with property binding, I could set display to green for moves and red for positions, or something like that. -->

<!-- Next step: Call the API again: getNextAvailableMoves() on onPositionAdd()
hmm.. that's not working.
-->
