<div class="grid-container">

  <div class="grid-item" id="formation">
    <h2>What formation does the dance begin in?</h2>
    <button (click)="onFormationAdd($event)" type="button" class="btn btn-default btn-sm" id="{{improperFormationId}}">
      <span><i class="fas fa-plus fa-xs"></i></span> Improper
    </button>
    <button (click)="onFormationAdd($event)" type="button" class="btn btn-default btn-sm" id="{{becketFormationId}}">
      <span><i class="fas fa-plus fa-xs"></i></span> Becket
    </button>
  </div>

  <div class="grid-item" id="moves">
    <app-available-moves [danceArrayInMoveComponent]="danceArray"></app-available-moves>
  </div>

  <div class="grid-item" id="positions">
    <app-positions [danceArrayInPositionComponent]="danceArray" (sendRequestToGetMovesUpdated)="updateMoves($event)"></app-positions>
  </div>

  <div class="grid-item" id="draft">
    <app-draft [dancePieces]="danceArray"></app-draft>
  </div>

  <button type="button" (click)="onClickOfTest()">Test: Show Available Moves</button>

</div>
