<div class="grid-container">

  <div class="grid-item" id="formation">
    <h2>What formation does the dance begin in?</h2>
    <button (click)="onFormationAdd($event)" type="button" class="btn btn-default btn-sm" id="{{improperFormationId}}">
      <span><i class="fas fa-plus fa-xs"></i></span> Improper
    </button>
    <button (click)="onFormationAdd($event)" type="button" class="btn btn-default btn-sm" id="{{becketFormationId}}">
      <span><i class="fas fa-plus fa-xs"></i></span> Becket
    </button>
  </div>

  <div class="grid-item" id="moves">
    <app-available-moves [draftArrayInMoveComponent]="draftArray" [positionLastMoveEndsAtInMoveComponent]="positionLastMoveEndsAt"></app-available-moves>
  </div>

  <div class="grid-item" id="positions">
    {{message}}
    <app-positions [draftArrayInPositionComponent]="draftArray" (sendRequestToGetMovesUpdated)="updateMoves($event)" (messageEvent)="receiveMessage($event)"></app-positions>
  </div>

  <div class="grid-item" id="draft">
    <app-draft [dancePieces]="draftArray"></app-draft>
  </div>

</div>
