<div class="grid-container">
  <div class="grid-item" id="formation">
    <h2>What formation does the dance begin in?</h2>
    <button type="button" class="btn btn-default btn-sm" id="improper">
      <span><i class="fas fa-plus fa-xs"></i></span> Improper
    </button>
    <button type="button" class="btn btn-default btn-sm" id="becket">
      <span><i class="fas fa-plus fa-xs"></i></span> Becket
    </button>
  </div>

  <div class="grid-item" id="moves">
    <app-available-moves></app-available-moves>
  </div>

  <div class="grid-item" id="positions">
    <app-positions></app-positions>
  </div>

  <div class="grid-item" id="draft">
    <app-draft></app-draft>
  </div>

</div>
