<!-- ravens are always ravens, vice versa -->
<!-- dancerId (R1, L6) remains with the svg, and does not change -->
<!-- Odds start as ones-->
<!-- At the start, R1/L1, R3/L3 mean 1's, however when R5/L5 get to the bottom, they will become 2's. -->
<div class="dance-set">
    <svg width="640" height="320" viewBox="0 0 640 320">
        <circle r="18" fill='#E68A97' stroke='#CF9669' stroke-width="3" stroke-dasharray="5 2" id="L1" #L1
            [ngStyle]="L1Style" />
        <circle r="18" fill='#E68A97' stroke='#4A4949' stroke-width="3" stroke-dasharray="5 2" id="R1" #R1
            [ngStyle]="R1Style" />
        <circle r="18" fill='#E6B38A' stroke='#CF9669' stroke-width="3" stroke-dasharray="5 2" id="L2" #L2
            [ngStyle]="L2Style" />
        <circle r="18" fill='#E6B38A' stroke='#4A4949' stroke-width="3" stroke-dasharray="5 2" id="R2" #R2
            [ngStyle]="L2Style" />
        <circle r="18" fill='#E1E68A' stroke='#CF9669' stroke-width="3" stroke-dasharray="5 2" id="L3" #L3
            [ngStyle]="L3Style" />
        <circle r="18" fill='#E1E68A' stroke='#4A4949' stroke-width="3" stroke-dasharray="5 2" id="R3" #R3
            [ngStyle]="R3Style" />
        <circle r="18" fill='#8EE68A' stroke='#CF9669' stroke-width="3" stroke-dasharray="5 2" id="L4" #L4
            [ngStyle]="L4Style" />
        <circle r="18" fill='#8EE68A' stroke='#4A4949' stroke-width="3" stroke-dasharray="5 2" id="R4" #R4
            [ngStyle]="R4Style" />
        <circle r="18" fill='#8ABCE6' stroke='#CF9669' stroke-width="3" stroke-dasharray="5 2" id="L5" #L5
            [ngStyle]="L5Style" />
        <circle r="18" fill='#8ABCE6' stroke='#4A4949' stroke-width="3" stroke-dasharray="5 2" id="R5" #R5
            [ngStyle]="R5Style" />
        <circle r="18" fill='#B88AE6' stroke='#CF9669' stroke-width="3" stroke-dasharray="5 2" id="L6" #L6
            [ngStyle]="L6Style" />
        <circle r="18" fill='#B88AE6' stroke='#4A4949' stroke-width="3" stroke-dasharray="5 2" id="R6" #R6
            [ngStyle]="R6Style" />
    </svg>
</div>