.dance-set {
  $number-of-hands-fours: 3;
  svg {
    height: 320px;
    width: 160px + 240px * ($number-of-hands-fours - 1);
    margin: 0 auto;
    position: relative;
    circle {
      position:absolute;
    }
  }
}
