.dance-set {
  $number-of-hands-fours: 3;
  width: 880px;
  height: 320px;
  margin: 0 auto;
  svg {
    height: 320px;
    width: 400px + 240px * ($number-of-hands-fours - 1);
    position: relative;
    // circle {
    //   position:absolute;
    // }
  }
}
